ctdlogger/lib/nmealib/build/
ctdlogger/build/
ctdlogger/lib/nmealib/lib/libnmea.a
ctdapp/.project
ctdapp/.settings
ctdlogger/.cproject
ctdlogger/.project
ctdservice/.buildpath
ctdservice/.project
ctdservice/.settings
ctdapp/resources/sass/.sass-cache
ctdlogger/lib/wiiuse/build/