body {
	background-color: #949494;
	background: url("../images/back.jpg");
}

.infowindow {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 10px;
}

.infowindow dl {
	padding: 5px;
}

.infowindow dl dt{
	float: left;
	width: 130px;
	font-weight: bold;
}

.obdinfo dl dt {
	width: 160px;
}

.gpsinfo dl dt {
	width: 130px;
}

.infowindow p {
	font-weight: bold;
}